@model TabloidMVC.Models.UserProfile

@{
    ViewData["Title"] = "Reactivate";
}

<h1>Reactivate</h1>

<h3>Are you sure you want to reactivate @Model.FullName?</h3>
<div>
    <h4>User Profile</h4>
    <hr />
    <section class="container">
        <img style="width:150px;float:left;margin-right:20px"
             src=@Model.GetImage() />
        <div>
            <label class="fw-bold">@Html.DisplayNameFor(model => model.FullName):</label>
            <span>@Html.DisplayFor(model => model.FullName)</span>
        </div>
        <div>
            <label class="fw-bold">@Html.DisplayNameFor(model => model.DisplayName):</label>
            <span>@Html.DisplayFor(model => model.DisplayName)</span>
        </div>
        <div>
            <label class="fw-bold">@Html.DisplayNameFor(model => model.Email):</label>
            <span>@Html.DisplayFor(model => model.Email)</span>
        </div>
        <div>
            <label class="fw-bold">@Html.DisplayNameFor(model => model.CreateDateTime):</label>
            <span>@Html.DisplayFor(model => model.CreateDateTime)</span>
        </div>
        <div>
            <label class="fw-bold">@Html.DisplayNameFor(model => model.UserType.Name):</label>
            <span>@Html.DisplayFor(model => model.UserType.Name)</span>
        </div>
        <div>
            <label class="fw-bold">@Html.DisplayNameFor(model => model.UserStatus.Name):</label>
            <span>@Html.DisplayFor(model => model.UserStatus.Name)</span>
        </div>
    </section>
    
    <form asp-action="Reactivate">
        <input type="submit" value="Reactivate" class="btn btn-danger" /> |
        <a asp-action="ViewDeactivated">Cancel</a>
    </form>
</div>
